@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Mitr:wght@300;400;500;600;700&family=Philosopher:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800;900&family=Rammetto+One&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");
.bg-transparent {
  background-color: transparent;
}

.bg-main {
  background-color: #D32512;
}

.bg-second {
  background-color: #fcb119;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Philosopher', sans-serif;
  font-size: 1.3rem;
  color: #666666;
}

@media only screen and (max-width: 740px) {
  body {
    font: 1.2rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  font-family: 'Philosopher', sans-serif;
}

a:hover {
  color: #D32512;
}

img {
  max-width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

form img {
  height: 10rem;
}

.grid-col-0 {
  -ms-grid-columns: (1fr)[0];
      grid-template-columns: repeat(0, 1fr);
}

.grid-col-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-0 {
    -ms-grid-columns: (1fr)[0];
        grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-7 {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-0 {
    -ms-grid-columns: (1fr)[0];
        grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-7 {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 740px) {
  .grid-col-sm-8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

.container {
  width: 100%;
  margin: auto;
}

.main {
  background-color: white;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 5rem;
}

.shrink ~ .main {
  margin-top: 28rem;
}

@media only screen and (max-width: 1024px) {
  .shrink ~ .main {
    margin-top: 0;
  }
}

.content {
  max-width: 124rem;
  width: 100%;
  margin: 0 auto;
}

@-webkit-keyframes SearchGrowth {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes SearchGrowth {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.btn {
  border: none;
  outline: none;
  padding: 1.6rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
  font-family: 'Philosopher', sans-serif;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn:hover {
  color: white;
  background-color: #D32512;
}

.btn-icon {
  margin-right: 1rem;
  display: inline-block;
}

.btn-icon i {
  font-size: 2rem;
}

.btn.type-icon {
  width: 5.5rem;
  height: 5rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .btn.type-icon {
    height: 4rem;
    width: 4.5rem;
  }
}

.btn.type-icon .btn-icon {
  margin-right: 0;
}

.btn.type-icon .btn-icon i {
  font-size: 2.5rem;
}

.btn.type-cricle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.btn.type-cricle .btn-icon {
  margin-right: 0;
}

.btn.type-cricle .btn-icon i {
  font-size: 2.5rem;
}

.header {
  position: relative;
  width: 100%;
  height: 28rem;
  z-index: 999;
  background: #fff;
}

@media only screen and (max-width: 1024px) {
  .header {
    height: 22rem;
  }
}

@media only screen and (max-width: 740px) {
  .header {
    height: 24rem;
  }
}

@-webkit-keyframes shrinkAnimate {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes shrinkAnimate {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header.shrink {
  position: fixed;
  top: 0;
  left: 0;
  height: 10rem;
  -webkit-box-shadow: 0 1.7rem 1.5rem rgba(149, 157, 165, 0.2);
          box-shadow: 0 1.7rem 1.5rem rgba(149, 157, 165, 0.2);
  -webkit-animation: shrinkAnimate .6s ease-in;
          animation: shrinkAnimate .6s ease-in;
}

@media only screen and (max-width: 1024px) {
  .header.shrink {
    display: none;
  }
}

.header.shrink .header__top-nav {
  display: none;
}

.header.shrink .header__main {
  padding: 1rem;
}

.header.shrink .header__main .content {
  z-index: 1;
  position: relative;
}

.header.shrink .header__main__top__logo {
  position: relative;
  top: unset;
  left: unset;
  -webkit-transform: unset;
          transform: unset;
  z-index: 2;
}

.header.shrink .header__main__top__right {
  z-index: 2;
}

.header.shrink .header__main__menu {
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.header.shrink .header-call {
  display: none;
}

.header::before {
  content: '';
  position: absolute;
  top: auto;
  bottom: -13px;
  right: 0;
  left: 0;
  height: 20px;
  background: url("/../src/assets/Image/Header/header-pattern-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.header__top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  font-size: 1.4rem;
  background-color: #e20020;
  color: #fff;
  position: relative;
}

@media only screen and (max-width: 740px) {
  .header__top-nav {
    height: 6rem;
  }
}

.header__top-nav::before {
  content: '';
  position: absolute;
  top: auto;
  bottom: -18px;
  right: 0;
  left: 0;
  height: 20px;
  z-index: 1;
  background: url("/../src/assets/Image/Header/header-pattern-01.png") repeat-x scroll center bottom;
}

.header__top-nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
}

.header__top-nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 1024px) {
  .header__top-nav__left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 740px) {
  .header__top-nav__left {
    font-size: 1.1rem;
    text-align: center;
  }
}

.header__top-nav__left i {
  margin-right: 1.2rem;
  font-size: 1.6rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header__top-nav__left p {
  letter-spacing: .1rem;
}

.header__top-nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .header__top-nav__right {
    display: none;
  }
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
}

.header__main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header__main .content .header-line {
  position: absolute;
  top: 7rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: .1rem;
  background-color: #d9d9d9;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header__main .content .header-line {
    display: block;
  }
}

.header__main__top {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .header__main__top {
    padding: 8rem 1rem 0rem;
  }
}

.header__main__top__item {
  position: relative;
  cursor: pointer;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__main__top__item:hover i {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header__main__top__item:hover .header__main__top__item__list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  visibility: visible;
}

.header__main__top__item__icon {
  width: 5.5rem;
  height: 5.5rem;
  background-color: #fcb119;
  font-size: 2.7rem;
  border-radius: 50%;
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .header__main__top__item__icon {
    background-color: transparent;
    font-size: 3rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 740px) {
  .header__main__top__item__icon {
    font-size: 2.2rem;
  }
}

.header__main__top__item__icon i {
  color: #000000;
  -webkit-transition: -webkit-transform ease .4s;
  transition: -webkit-transform ease .4s;
  transition: transform ease .4s;
  transition: transform ease .4s, -webkit-transform ease .4s;
}

.header__main__top__item__icon__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  min-width: 1.6rem;
  height: 1.6rem;
  background-color: #000000;
  border-radius: 5rem;
  top: 0rem;
  right: -.6rem;
  color: #fff;
  display: none;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
  .header__main__top__item__icon__quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 740px) {
  .header__main__top__item__icon__quantity {
    top: -.3rem;
    right: -.6rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header__main__top__item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header__main__top__item__content p:nth-child(1) {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

@media only screen and (max-width: 1024px) {
  .header__main__top__item__content p:nth-child(1) {
    margin-bottom: 0;
    margin-right: .5rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 740px) {
  .header__main__top__item__content p:nth-child(1) {
    font-size: 1.4rem;
  }
}

.header__main__top__item__content p:nth-child(2) {
  font-weight: 600;
  font-size: 1.8rem;
}

@media only screen and (max-width: 740px) {
  .header__main__top__item__content p:nth-child(2) {
    font-size: 1.4rem;
  }
}

.header__main__top__item__list {
  position: absolute;
  top: calc(100% + 3rem);
  right: 0;
  border: 0.2rem solid #e8e8e8;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0 0.8rem 2.4rem;
          box-shadow: rgba(149, 157, 165, 0.2) 0 0.8rem 2.4rem;
  background-color: #fff;
  width: 35rem;
  max-height: 50rem;
  border-radius: 1rem;
  height: 0;
  visibility: hidden;
}

.header__main__top__item__list::before {
  position: absolute;
  content: "";
  top: -3.2rem;
  background-color: transparent;
  right: 0;
  width: 25rem;
  height: 3.2rem;
}

.header__main__top__item__list__null {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.header__main__top__item__list__title {
  padding: 1rem;
  font-size: 1.5rem;
}

.header__main__top__item__list__content {
  max-height: 35rem;
  overflow: hidden;
}

.header__main__top__item__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: .5rem  1rem;
  -webkit-transition: background-color ease .3s;
  transition: background-color ease .3s;
  color: #243238;
}

.header__main__top__item__list__item img {
  border: 0.2rem solid #e8e8e8;
  width: 6rem;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: .5rem;
}

.header__main__top__item__list__item p:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.4rem;
  margin-right: .5rem;
  overflow: hidden;
  height: 3rem;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.header__main__top__item__list__item p:nth-child(3) {
  height: 3rem;
  margin-right: .5rem;
  color: #D32512;
  font-size: 1.6rem;
}

.header__main__top__item__list__item:hover {
  background-color: #f3f2f2;
}

.header__main__top__item__list__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
}

.header__main__top__item__list__more p {
  font-size: 1.5rem;
}

.header__main__top__item__mobile-toggle {
  font-size: 3rem;
  display: none;
  color: #000000;
}

@media only screen and (max-width: 1024px) {
  .header__main__top__item__mobile-toggle {
    display: block;
  }
}

.header__main__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__main__top__right__search {
  position: relative;
}

.header__main__top__right__search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 1024px) {
  .header__main__top__right__search__icon {
    margin-right: 0;
    color: #000000;
    background-color: transparent;
  }
}

.header__main__top__right__search__icon:hover i:nth-child(1) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header__main__top__right__search__icon i:nth-child(1) {
  -webkit-transition: -webkit-transform ease-out .4s;
  transition: -webkit-transform ease-out .4s;
  transition: transform ease-out .4s;
  transition: transform ease-out .4s, -webkit-transform ease-out .4s;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  .header__main__top__right__search__icon i:nth-child(1) {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 740px) {
  .header__main__top__right__search__icon i:nth-child(1) {
    font-size: 2.2rem;
  }
}

.header__main__top__right__search__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 7rem;
  background-color: #fff;
  right: 0;
  border: .2rem solid  #e8e8e8;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  -webkit-transform-origin: calc(100% - 20px) 0%;
          transform-origin: calc(100% - 20px) 0%;
  -webkit-animation: SearchGrowth ease-in .3s;
          animation: SearchGrowth ease-in .3s;
  will-change: opacity, transform;
  display: none;
}

.header__main__top__right__search__box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__main__top__right__search__box__input {
  outline: none;
  border: none;
  width: 25rem;
  margin-right: 1rem;
}

.header__main__top__right__search__box i {
  font-size: 1.8rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header__main__top__right__accout {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header__main__top__right__accout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__main__top__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1024px) {
  .header__main__top__logo {
    top: 3rem;
  }
}

@media only screen and (max-width: 740px) {
  .header__main__top__logo {
    padding-top: 2rem;
    top: 1rem;
  }
  .header__main__top__logo img {
    height: 8rem;
    width: 28rem;
  }
}

.header__main__menu {
  width: 100%;
  margin-top: 6.5rem;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .header__main__menu {
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    margin-top: 0;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fff;
    top: calc(100%);
    border: 0.2rem solid #e8e8e8;
    border-radius: .5rem;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
  }
  .header__main__menu.toggle {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 740px) {
  .header__main__menu {
    padding: 1rem;
  }
}

.header__main__menu__item__mobile {
  padding-top: 1rem;
  border-top: 0.2rem solid #e8e8e8;
  width: 100%;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header__main__menu__item__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__main__menu__item button {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

@media only screen and (max-width: 1024px) {
  .header__main__menu__item button {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 740px) {
  .header__main__menu__item button {
    padding: .5rem 1rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header__main__menu__item button:hover {
    background-color: unset;
    color: unset;
  }
}

.header__top-nav__right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .header__top-nav__right__item {
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 740px) {
  .header__top-nav__right__item {
    color: #000000;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.header__top-nav__right__item__icon {
  margin-right: 1rem;
  font-size: 2rem;
  -webkit-transition: -webkit-transform ease .5s;
  transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
  transition: transform ease .5s, -webkit-transform ease .5s;
}

@media only screen and (max-width: 1024px) {
  .header__top-nav__right__item__icon {
    color: #000000;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: .5rem;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 740px) {
  .header__top-nav__right__item__icon {
    font-size: 2.2rem;
  }
}

.header__top-nav__right__item:hover .header__top-nav__right__item__icon {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header__top-nav__right__item__list {
  position: absolute;
  min-width: 17rem;
  right: 0;
  top: 140%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0 0.8rem 2.4rem;
          box-shadow: rgba(149, 157, 165, 0.2) 0 0.8rem 2.4rem;
  overflow: hidden;
  color: #243238;
  z-index: 9999;
  border-radius: 1rem;
  background-color: #fff;
  border: .2rem solid #e8e8e8;
  visibility: hidden;
  padding: 0 2.5rem;
  height: 0;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.header__top-nav__right__item__list.active {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1.6rem 2.5rem;
  visibility: visible;
}

.header__top-nav__right__item__list__item ~ .header__top-nav__right__item__list__item {
  margin-top: .8rem;
}

.footer {
  position: relative;
  background-color: #fff;
  padding-top: 7rem;
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2rem;
  left: 0;
  top: -2rem;
  background-repeat: no-repeat;
  background: url("/../src/assets/Image/Header/header-pattern-02.png");
  background-size: center;
}

@media only screen and (max-width: 1024px) {
  .footer .content {
    width: calc(100% - 4rem);
    margin: 0 2rem;
  }
}

.footer__logo {
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 2rem;
}

.footer__banner {
  cursor: pointer;
  position: relative;
  z-index: 4;
  overflow: hidden;
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .footer__banner {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 740px) {
  .footer__banner {
    padding-top: 2rem;
  }
}

.footer__banner::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  position: absolute;
  left: 0;
  width: 0rem;
  height: 0rem;
}

.footer__banner::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  position: absolute;
  right: 0;
  width: 0rem;
  height: 0rem;
}

.footer__banner:hover::before, .footer__banner:hover::after {
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  opacity: 0;
}

.footer__product-about {
  margin-top: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .footer__product-about {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__product-about__title {
  font-family: 'Mitr', sans-serif;
  color: #000;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .footer__product-about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    overflow: hidden;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
  }
  .footer__product-about__list.active {
    height: 15rem;
  }
}

.footer__product-about__list__item {
  font-size: 1.6rem;
  max-width: 28rem;
  margin-right: .8rem;
}

@media only screen and (max-width: 1024px) {
  .footer__product-about__list__item {
    padding: .5rem 1rem;
    font-size: 1.4rem;
  }
}

.footer__box-title {
  display: none;
}

.footer__box-title:nth-child(2) {
  margin-top: -2rem;
}

@media only screen and (max-width: 1024px) {
  .footer__box-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .8rem 1rem;
    width: 100%;
    cursor: pointer;
  }
  .footer__box-title:hover {
    background-color: #e5e5e5;
  }
}

.footer__box-title h3 {
  font-size: 1.5rem;
  font-family: 'Mitr', sans-serif;
  color: #000;
  font-weight: 400;
}

.footer__box-title i {
  font-size: 2rem;
}

.footer__contact-about {
  margin-top: 2rem;
}

@media only screen and (max-width: 1024px) {
  .footer__contact-about {
    text-align: left;
    margin-top: -2rem;
    height: 0;
    overflow: hidden;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
  }
  .footer__contact-about.active {
    height: 15rem;
  }
}

.footer__contact-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.footer__contact-about__item i {
  margin-right: .5rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .footer__contact-about__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}

.footer__notify {
  text-align: center;
  margin-top: 2rem;
}

@media only screen and (max-width: 1024px) {
  .footer__notify {
    margin-top: -2rem;
  }
}

.footer__notify__title {
  font-size: 2rem;
  color: #000;
  margin-bottom: 2rem;
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .footer__notify__title {
    margin-bottom: 0;
    font-size: 1.7rem;
  }
}

.footer__notify__description {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1024px) {
  .footer__notify__description {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.footer__notify__input {
  padding: 0 2rem;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .footer__notify__input {
    width: calc(100% - 8rem);
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 740px) {
  .footer__notify__input {
    width: calc(100% - 2rem);
    margin-left: 1rem;
  }
}

.footer__notify__input input {
  padding: 0 1rem;
  height: 5rem;
  outline: none;
  border: 0.2rem solid #e8e8e8;
  border-radius: 1rem;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .footer__notify__input input {
    height: 4rem;
  }
}

.footer__notify__input button {
  position: absolute;
  top: 0;
  right: 2rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer__bottom {
  margin-top: 7rem;
  height: 6rem;
  background-color: #e20020;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer__bottom::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2rem;
  background-size: cover;
  top: -1rem;
  left: 0;
  background-image: url("/../src/assets/Image/Header/header-pattern-01.png");
}

.footer__bottom .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom__list-icon {
  gap: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__bottom__list-icon__item i {
  font-size: 1.8rem;
}

.hero-slider {
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 4rem;
}

.hero-slider::before {
  position: absolute;
  left: 0;
  content: "";
  top: auto;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: url("/../src/assets/Image/slider-pattrean.png") repeat-x scroll center top;
  height: 8.5rem;
}

.hero-slider:hover .hero-slider__control {
  width: 96%;
  opacity: 1;
}

.hero-slider__item {
  width: 100%;
}

.hero-slider__control {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 3rem;
  color: #fcb119;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.hero-slider__control:hover {
  width: 96%;
  opacity: 1;
}

.hero-slider__control__prev, .hero-slider__control__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: #fcb119 0.2rem solid;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media only screen and (max-width: 740px) {
  .hero-slider__control__prev, .hero-slider__control__next {
    width: 3rem;
    height: 3rem;
    font-size: 2.2rem;
    border: none;
    color: #fcb119;
  }
}

.hero-slider__control__prev:hover, .hero-slider__control__next:hover {
  background-color: #fcb119;
  color: #111111;
}

@media only screen and (max-width: 740px) {
  .hero-slider__control__prev:hover, .hero-slider__control__next:hover {
    background-color: transparent;
  }
}

.section > * {
  margin-bottom: 4rem;
}

.section__box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__box-title img {
  margin-bottom: .5rem;
}

.section__box-title h3 {
  text-align: center;
  font-family: 'Mitr', sans-serif;
  font-size: 3.3rem;
  line-height: 4rem;
  font-weight: 500;
  color: #111111;
}

@media only screen and (max-width: 740px) {
  .section__box-title h3 {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}

.banner__item {
  position: relative;
  padding: 1rem 2rem;
  z-index: 5;
  overflow: hidden;
}

.banner__item::after {
  z-index: 9;
  content: "";
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  background: url("/../src/assets/Image/bannerItem.png") scroll repeat-x top center;
  height: 2rem;
}

.banner__item::before {
  z-index: 9;
  content: "";
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  background: url("/../src/assets/Image/bannerItem.png") scroll repeat-x bottom center;
  height: 2rem;
}

.banner__item__img {
  width: 100%;
  overflow: hidden;
  width: 100%;
}

.banner__item__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

.banner__item__img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.border {
  content: "";
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.border::before {
  z-index: 9;
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  bottom: 0;
  height: 100%;
  background: url("/../src/assets/Image/bannerItem2.png") scroll no-repeat left center;
  width: 2rem;
}

.border::after {
  z-index: 9;
  content: "";
  position: absolute;
  top: 0;
  right: -2rem;
  bottom: 0;
  background: url("/../src/assets/Image/bannerItem2.png") scroll no-repeat right center;
  width: 2rem;
}

.featured {
  padding: 0 2rem;
}

@media only screen and (max-width: 1024px) {
  .featured {
    padding: 0 1rem;
  }
}

.offer-about .content {
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 740px) {
  .offer-about .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 0;
  }
}

.offer-about .content.reserve {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 740px) {
  .offer-about .content.reserve {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.offer-about.bg-color-second {
  background-color: #f5f5f5;
}

.offer-about__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-about__img:hover .offer-about__img__main {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.offer-about__img:hover .offer-about__img__discount {
  -webkit-animation: animateOfferAbout 5s infinite;
          animation: animateOfferAbout 5s infinite;
}

.offer-about__img__main {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 90%;
}

.offer-about__img__discount {
  width: 25%;
  display: inline-block;
  position: absolute;
  top: -2rem;
  right: 4rem;
}

.offer-about .section {
  width: 50%;
}

@media only screen and (max-width: 740px) {
  .offer-about .section {
    width: 100%;
  }
}

.offer-about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex;
      -ms-flex-align: flex;
          align-items: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer-about__info__description {
  font-family: 'Philosopher', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 0 7rem;
  font-weight: 400;
  line-height: 2.4rem;
  font-style: italic;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 740px) {
  .offer-about__info__description {
    margin-bottom: 3rem;
  }
}

.offer-about__info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes animateOfferAbout {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-16rem);
            transform: translateX(-16rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateOfferAbout {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-16rem);
            transform: translateX(-16rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.auth {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fcb119), to(#D32512));
  background-image: linear-gradient(to right bottom, #fcb119, #D32512);
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

@media only screen and (max-width: 740px) {
  .auth {
    background-image: none;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.auth__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50rem;
  background: #fff;
  min-height: 90%;
  border-radius: 1rem;
  padding: 6rem 5.5rem 5rem;
}

@media only screen and (max-width: 740px) {
  .auth__container {
    width: 100%;
    height: 100%;
    padding: 5rem 2rem 5rem;
    border-radius: 0;
  }
}

.auth__logo {
  text-align: center;
}

.auth__logo img {
  text-align: center;
  height: 7rem;
}

.auth__title {
  margin-top: 1rem;
  color: #333333;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.auth__title p {
  font-size: 1.3rem;
  font-weight: 400;
}

@media only screen and (max-width: 740px) {
  .auth__title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
}

.auth__form__forgot {
  text-align: right;
  font-size: 1.3rem;
}

.auth__form__forgot a {
  font-family: 'Poppins', sans-serif;
}

.auth__form__submit {
  margin-top: 2rem;
  padding: 1.4rem 0;
  font-size: 1.7rem;
  border-radius: 10rem;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#fcb119), to(#D32512));
  background-image: linear-gradient(to right, #fcb119, #D32512);
  font-weight: 500;
  color: #fff;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background-image 10s ease;
  transition: background-image 10s ease;
}

@media only screen and (max-width: 740px) {
  .auth__form__submit {
    font-size: 1.5rem;
  }
}

.auth__form__submit:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#fcb119), to(#D32512));
  background-image: linear-gradient(to left, #fcb119, #D32512);
}

.auth__bottom {
  margin-top: 5rem;
  text-align: center;
}

.auth__bottom a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #D32512;
}

@media only screen and (max-width: 740px) {
  .auth__bottom {
    margin-bottom: 5rem;
  }
}

.input-item label {
  font-size: 1.4rem;
  display: inline-block;
  margin-left: .5rem;
}

.input-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.input-item__box::before {
  content: '';
  position: absolute;
  bottom: .2rem;
  height: .2rem;
  background-color: #dedede;
  left: 0;
  width: 100%;
  z-index: 2;
}

.input-item__box::after {
  content: '';
  position: absolute;
  bottom: .2rem;
  height: .2rem;
  background-color: #b3b2b2;
  left: 0;
  width: 0;
  -webkit-transition: width .4s ease;
  transition: width .4s ease;
  z-index: 2;
}

.input-item__box.focus::after {
  width: 100%;
}

.input-item__box i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #adadad;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.input-item__box i.focus {
  color: #fcb119;
}

.input-item__box input {
  font-family: 'Poppins', sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #333 !important;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  background: transparent !important;
}

@media only screen and (max-width: 740px) {
  .input-item__box input {
    font-size: 1.4rem;
  }
}

.input-item__box input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad;
}

.input-item__box input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad;
}

.input-item__box input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad;
}

.input-item__box input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad;
}

.input-item__box input:focus ~ i {
  color: #fcb119;
}

.input-item__box span {
  position: absolute;
  bottom: -1.5rem;
  left: 1rem;
  color: #D32512;
}

@media only screen and (max-width: 1024px) {
  .hide-mobile {
    display: none;
  }
}
/*# sourceMappingURL=index-client.css.map */