.auth{
    background-image: linear-gradient(to right bottom,$second-color,$main-color);
    background-repeat: no-repeat;
    height: 120vh;
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;
    @include mobile{
        background-image:none;  
        height: max-content;
    }
    input{
        font-family: 'Roboto Condensed', sans-serif !important;
        
    }
   
    &__container{
     
       position: absolute;
       
      
       left: 50%;
       margin-top: 5rem;
       transform: translateX(-50%);
       width: 50rem;
       background: $txt-white;
    //    min-height: 90%;
       border-radius: 1rem;
       padding: 6rem 5.5rem 5rem;
       @include mobile{
           width: 100%;
           height: 100%;
           padding: 5rem 2rem 5rem;
           border-radius: 0;
       }
    
    }
    &__logo{
        text-align: center;
        img{
        text-align: center;
        height: 7rem;
    }
    }
    &__title{
        margin-top: 4rem;
        color: #333333;
     
        margin-bottom: 2rem;
        h3{
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 0rem;
        }
        p{
            font-size: 1.5rem;
            font-weight: 500;}
        @include mobile{
            font-size: 2.8rem;
            margin-bottom: 2rem;
        }


    }
    &__form{
        &__forgot{
            text-align: right;
            font-size: 1.3rem;
            a{
                // font-family: 'Poppins', sans-serif;
            }  
          
        }
        &__submit{
            
            margin-top: 2rem;
            padding:1.4rem 0;
            font-size: 1.7rem;
            border-radius: 10rem;
            outline: none;
            border: none;
            font-weight: 700;

            background-image: linear-gradient(to right,$second-color,$main-color);
    
            color: $txt-white;
            width: 100%;
            cursor: pointer;
            transition: background-image 10s ease;
            @include mobile{
         
              font-size: 1.5rem;
            }
            
            &:hover{
                background-image: linear-gradient(to left,$second-color,$main-color);
            }
        
        }
    }

    &__bottom{
        margin-top: 5rem;
        text-align: center;
        a{
              font-family: 'Poppins', sans-serif;
                font-size: 1.4rem;
                font-weight: 500;
                color: $main-color;
        }
        @include mobile{
         
            margin-bottom: 5rem;
        }
    }
}