.btn{
    border: none;
    outline: none;
    padding: 1.2rem 1.4rem ;
    border-radius: .5rem;
    cursor: pointer;
    color: $txt-main-color;
 
    transition: background-color .1s ease;
    @include flex(center,center);
    &:hover{
        color: white;
        background-color: $main-color;
    }
    &-icon{
    
        margin-right: 1rem;
        display: inline-block;
        @include flex(center,center);
        i{
            
            font-size: 2rem;
          
        }
        
    }
    &-txt{
      
    }
    &.type-icon{
        width: 5.5rem;
        height: 5rem;
         padding: 0;
         @include flex(center,center);
         @include tablet{
            height: 4rem;
            width: 4.5rem;
        }
        .btn-icon{
            margin-right: 0;
            i{ 
                font-size: 2.5rem;

            }
        }
      
       }
    &.type-cricle{
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        @include flex(center,center);
        .btn-icon{
            @include flex(center,center);
            margin-right: 0;
            i{ 
                font-size: 2rem;
            }
        }
    }
 &.bg-white{
     background-color: $main-bg;
     &:hover{
        color: white;
        background-color: $main-color;
    }
 }
 &.bg-second{
    background-color: $second-color;
    &:hover{
       color: white;
       background-color: $main-color;
   }
   
}
&.bg-main{
    background-color: $main-color;
    color: white;
    &:hover{
       color: white;
       background-color: $main-color;
   }
}
 &.size-sm{
    padding: 1rem 1.8rem ;
    border-radius: .5rem;
    font-size: 2.2rem;
    font-weight: 500;
    border-radius: 2rem;
   
 }
 &.size-md{
    padding: .6rem 1.2rem ;
   
 }

}


