table {
 
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: $main-bg ;
    tr{
     
       margin-bottom: 1rem;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        
    
      }
      th{
          font-weight: 600;
      }
      img{
          height: 7rem;
      }
    .edit,.delete{
        width: 10rem;
        padding: 12px;
        text-align: center;
    }
    a{
        font-family: 'Poppins', sans-serif;
    }
    .icon-details{
    text-align: center;
    font-size: 2.2rem;
    position: relative;
     i{
         cursor: pointer;
         padding: .4rem;
         border-radius: 50%;
         transition: .3s ease;
         &:hover{
            background-color: #ddd;
         }
     }
     &__list{
         position: absolute;
         li{
            font-size: 1.3rem;
            a{
                display: block;
            }
         }

     }
    }
}
  


