
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Mitr:wght@300;400;500;600;700&family=Philosopher:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800;900&family=Rammetto+One&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

// CSS rules to specify families

// font-family: 'Cantarell', sans-serif;
// font-family: 'Mitr', sans-serif;
// font-family: 'Philosopher', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Rammetto One', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Ubuntu', sans-serif;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif;     
    font-size: 1.3rem;
    color: #666666;
    @include mobile{
        font: 1.2rem;
    }
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color: unset;
    font-family: 'Roboto Condensed', sans-serif !important;     
             
}
a:hover{
   color:$main-color;
}
img{
    max-width: 100%;
}
.grid{
    display: grid;
    
}
p{
    margin: 0;
}

form{
    img {
        height: 10rem;
    }
}



@each $val in $numbers {
    .grid-col-#{$val}{

        grid-template-columns: repeat(#{$val},1fr);
    }

}
@each $val in $numbers {
    .grid-col-md-#{$val}{
        @include tablet{
        grid-template-columns: repeat($val,1fr);
        }
    }
}
@each $val in $numbers {
    .grid-col-sm-#{$val}{
        @include mobile{
            grid-template-columns: repeat($val,1fr);
            }
    }
}


.container{
    width: 100%;
    margin: auto;

}
.main{
    background-color: white;
    min-height: 100vh;
    margin: auto;
    padding-bottom: 5rem;

}
.shrink ~ .main{
    margin-top: $header-height;
    @include tablet{
        margin-top: 0;
    }
}
.content{
    max-width: 124rem;
    width: 100%;
 
   margin: 0 auto;

}

.time_picker_admin{
    label{
        color: #666666;
        display: block;
        width: 100%;
    }
    .ant-form-item-control{
        display: block;
    }
    .item_time_admin{
        border-color:#ada9b9 ;
        border-radius: .8rem;
        box-shadow: #ada9b9 !important;
    
    }
    .item_time_admin:focus{
        color: red;
        border-color:red ;
    }

}




@keyframes SearchGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}